<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
	
	<property name="LOG_FILE_DIR" value="C:/ePapyrus/sdp/log/pg8"/>
	<property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%-16t] %m%n"/>
	<property name="FILE_LOG_PATTERN" value="[%d{ISO8601}][%-16t] %-5p %m%n"/>
	
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoding>UTF-8</encoding>
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>

	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<file>${LOG_FILE_DIR}/pg8-app.log</file>
    	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE_DIR}/pg8-app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        		<!-- or whenever the file size reaches 100MB -->
        		<maxFileSize>100MB</maxFileSize>        		
      		</timeBasedFileNamingAndTriggeringPolicy>
	    </rollingPolicy>
	    <encoder>
    		<pattern>${FILE_LOG_PATTERN}</pattern>
    		<charset>utf8</charset>
    	</encoder>
  	</appender>

	<logger name="io.recruit" additivity="false" level="info">
    	<appender-ref ref="console"/>
    	<appender-ref ref="file"/>
	</logger>
	
	<logger name="org.springframework" additivity="false" level="INFO">
		<appender-ref ref="console"/>
    	<appender-ref ref="file"/>
	</logger>
	
</configuration>
